.image-holder{
    width: 11vw;
    height: 11vw;
}

.image-holder img{
    width: 11vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(153, 153, 153);
}

.slide-container{
   
    padding-left: 8%;
}

.display-holder{
    height: auto;
     border-top: 1px solid rgba(255, 255, 255, 0.349);
     width: 100%;
     width: 60vw;
     margin-top: 5rem;
     margin-bottom: 3rem;
     margin-left: -1rem;
}

.display-holder h3{
    font-size: 1.7vw;
    color: white;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-top: 2rem;
   
  
}
